.readMore {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 90px;
  width: 100%;
  overflow-y: scroll;
  &__header{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 100%;
    &-title{
      display: flex;
    }
    &-content{
      display: flex;
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}