.button {
  display: flex;
  flex: 1 0 150px;
  justify-content: center;
  padding: 20px 25px;
  font-size: 15px;
  outline: none;
  background-color: transparent;
  border: none;
  max-height: 55px;
  cursor: pointer;
  &--weight{
    &-normal{
      font-weight: normal;
    }
    &-bold{
      font-weight: bold;
    }
  }
  &--white{
    color: white;
  }
  &--black{
    color: #212121;
  }
  &--whiteFilled{
    color: #212121;
    background-color: white;
    border: 1px solid #212121;
  }
  &--blackFilled{
    color: white;
    background-color: #212121;
    border: 1px solid #212121;
  }
  &--icon-left{
    position: absolute;
    width: 100%;
    align-self: center;
    display: flex;
    left: -25px;
    float: left;
  }
  &--icon-right{
    position: absolute;
    width: 100%;
    align-self: center;
    display: flex;
    float: right;
    padding-right: 65px;
    box-sizing: border-box;
    transform: rotate(180deg);
  }
  &--left-arrow{
    &:before{
      content: "<";
      margin-right: 15px;
    }
  }
  &--right-arrow{
    &:after{
      content: ">";
      margin-left: 15px;
    }
  }
}

.button-wrapper{
  display: flex;
  flex: 1 0 150px;
  justify-content: center;
  padding: 20px 25px;
  font-size: 15px;
  position: relative;
  max-height: 55px;
  cursor: pointer;
  &-left{
    padding-left: 40px;
  }
  &-right{
    padding-right: 40px;
  }
}