.categories {
  display: flex;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  &-header {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    left: -66px;
    top: 0;
    background-color: #FFFFFF;
    color: #212121;
    line-height: 10px;
    font-weight: bold;
    font-size: 33px;
    padding: 70px 33px;
    margin-left: 20%;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  &-media {
    display: flex;
    position: absolute;
    padding-top: 10%;
    right: 20%;
    &-icon {
      display: flex;
      padding: 0 35px;
      cursor: pointer;
    }
  }
  &-img-nav {
    display: flex;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    color: #FFFFFF;
    &-item {
      display: flex;
      background: transparent;
      border: 0;
      color: #6e6e6e;
      padding: 10px 0;
      margin: 10px 0;
      transition: all 0.3s;
      cursor: pointer;
      &--active {
        transform: scale(2);
        outline: none;
        color: #FFFFFF;
      }
      &:hover {
        transform: scale(2);
      }
      &:focus {
        outline: none;
        color: #FFFFFF;
      }
    }
  }
  &-navigation {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    bottom: 5%;
  }
  &-picture {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #212121;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
    &-wrapper {
      display: flex;
      overflow: hidden;
      width: 60%;
      height: 60%;
      img {
        &:first-of-type {
        }
        display: flex;
        width: 100%;
      }
    }
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      transform: translateY(-100%);
      transition: all 0.3s;
      img {
        box-sizing: border-box;
        margin: 0;
        transition: all 0.3s ease-in-out;
      }
      &--single {
        transform: translateY(0);
      }
      &--up {
        img {
          animation: switchUpImage 0.7s ease-in;
          padding: 50px;
        }
      }
      &--down {
        img {
          animation: switchDownImage 0.7s ease-in;
          padding: 50px;
        }
      }
    }
  }
}

@keyframes switchUpImage {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes switchDownImage {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}