.leftSection {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  flex-grow: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #FFFFFF;
  padding: 0 90px 0 150px;
  &:after {
    content: '';
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

  &-footer{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    a{
      display: flex;
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &-scroll-down {
    position: fixed;
    z-index: 2;
    bottom: 10%;
    align-self: flex-start;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .leftSection {
    &:after {
      display: none;
    }
  }
}

@media (max-width: 1025px) {
  .leftSection {
    order: 2;
    min-height: 100%;
  }
}
