.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  &__component{
    display: flex;
    padding: 20px;
  }
  &__text{
    display: flex;
    font-size: 12px;
    width: 100%;
    justify-content: center;
  }
}