.textSection {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 140px;
  box-sizing: border-box;
  &-top-text{
    display: flex;
    align-self: flex-start;
    font-size: 12px;
    font-weight: bold;
    color: black;
  }
  &-header{
    margin-top: 100px;
    display: flex;
    font-size: 45px;
  }
  &-description{
    &::before{
      display: flex;
      content: " ";
      border-left: 1px solid black;
      padding-right: 55px;
    }
    display: flex;
    padding-top: 20px;
    padding-right: 55px;
    font-size: 17px;
  }
  &-button{
    display: flex;
    margin-top: 40px;
  }
}