.rightSection{
  display: flex;
  position: relative;
  flex: 0;
  overflow: hidden;
  min-height: 100%;
  min-width: 100vh;
  &__over{
    display: flex;
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 100%;
    opacity: 0;
    z-index: 1;
    background: #FFFFFF;
    transition: all 0.3s;
    &-close-button{
      display: flex;
      position: absolute;
      top: 50px;
    }
    &--visible{
      visibility: visible;
      opacity: 1;
      width: 100%;
    }
  }
  &__under{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

@media (max-width: 1025px){
  .rightSection{
    order: 1;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #212121;
    &__under{
      width: 100vh;
    }
    &__over{
      background-color: transparent;
    }
  }
}